header {
          background-image: url(../img/bord_image.jpg); /* Путь к фоновому изображению */
          background-size: 100%;
		  padding: 0px;
	      position: absolute;
	      height: 586px;
        }
#register {
            background-image: url(../img/register_image.jpg);
            background-size: 100%;
            position: absolute;
  			top: 0;
  			left: 0;
  			width: 100%;
  			height: 100%;
        }
#authorization {
			background-image: url(../img/bord_image_auth.jpg);
			background-size: 100%;
			position: fixed;
  			top: 0;
  			left: 0;
  			width: 100%;
  			height: 100%;
		}
#formReg {
			background-color: #ffffff;
			padding: 15px;
			width: 410px;
			margin-top: 50px;
			margin-left: 70px;
        }
#loginform {
			background-color: #ffffff;
			padding: 15px;
			width: 300px;
			margin-top: 150px;
			margin-left: 30px;
        }
#submitButton {
			padding-left: 40px;
			padding-right: 40px;
}

#drop2 {
			color: #ffffff;
		}
#drop_log {
			background-color: #1F93E0;
			color: #ffffff;
		}
#dropdown_auth{
			background-color: #1F93E0;
}

table {
    margin-top: 2em;
}
table tr td {
    text-align: center;
    padding: 2px;
	height: 1.5em;
}
#room{
	background: #D3D3D3;
}
.seat {
    color: #000;
    display: block;
    font-size: 0.8em;
    height: 2.8em;
    line-height: 1.8em;
    border: 1px solid #555555;
	text-align: center;
    width: 2.8em;
}

.legend.seat-leg {
    color: #000;
    display: block;
    font-size: 0.8em;
    height: 2.8em;
    line-height: 1.8em;
    border: 1px solid #555555;
	text-align: center;
    width: 2.8em;
}
.screen{
	width: 60%;
    height: 27px;
    border-top: 5px solid #ffffff;
    margin: 0 auto 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
	margin-left: 70px;
}

#hall{
	margin-top: 50px;
}

.event-info{
	margin-top: 50px;
}

table tr td a.hover {
    background: orange;
	color: #000;
}

table .row-title {
    padding: 0 0.5em;
}

.zone-standart{
	background: gray;
	cursor: pointer;
}
.zone-standart-leg{
	background: gray;
}

.zone-vip {
    background: cornflowerblue;
    cursor: pointer;
}
.zone-vip-leg {
    background: cornflowerblue;
}
.status-blocked {
    background: orangered;
}
.seat.status-selected {
    background: orange;
	cursor: pointer;
}
.status-selected-leg {
    background: orange;
}

.legend {
	padding: 0 1.5em;
}
.legend li {
	display: inline-block;
	width: 11em;
}
.legend .seat {
	display: inline-block;
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
li {
    list-style-type: none; /* Убираем маркеры */
   }
.imagePoster{
	margin: 20px;
}