<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap javascript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Регистрация</title>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img alt="Brand" src="https://img.artlebedev.ru/yaroslavl/logo/yaroslavl-logo.gif" width="30" height="30"> </a>
        </div>
        <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/registration">Регистрация</a></li>
                <li><a href="/authorization">Вход</a></li>
            </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
</head>
<body>
<section id="register">
    <div class="container">
        <div class="row">
          <div class="col-xs-4 col-md-3"></div>
          <div class="col-xs-10 col-md-6">
              {% macro render_field(field) %}
                  <dt>{{ field.label }}
                  <dd>{{ field(**kwargs)|safe }}
                  {% if field.errors %}
                    <ul class=errors>
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  </dd>
              {% endmacro %}
              <form method="post" action="/register">

                  <p><input type=submit value=Register>
              </form>
          </div>
          <div class="col-xs-4 col-md-3"></div>
        </div>
      </div>
</section>
</body>
</html>