{% extends "layout.html" %}
{% block title %}Сеанс{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <img class="imagePoster" width="330" src= {{ film.foto }} >
    </div>
  <div class="col-md-8">
    <h1>{{film.name}}</h1>
      <h4>{{film.genre}}</h4>
      <span>{{film.description}}</span><p>
      <ul>
         <li><strong>Год:</strong> {{film.year}}</li>
         <li><strong>Страна:</strong> {{film.country}}</li>
         <li><strong>Режиссер:</strong> {{film.producer}}</li>
         <li><strong>В ролях:</strong> {{film.cast}}</li>
         <li><strong>Возраст:</strong> {{film.ageRestriction}}+</li>
         <li><strong>Продолжительность:</strong> {{film.length}} мин. / {{hour}} ч. {{minute}} мин.</li>
      </ul>
      <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Время</th>
                            <th>Зал</th>
                            <th>CLS</th>
                            <th>VIP</th>
                        </tr>
                        <div>
                        <tr>
                            <td><a href="/room?id={{ses.id}}">{{ ses.time.strftime("%H:%M") }}</a></td>
                            <td>{{ ses.hall }}</td>
                            <td>{{ ses.session_price}}</td>
                            <td>{{ ses.vip_price}}</td>
                        </tr>
                      </div>
                    </thead>
                </table>
  </div>
</div>
{% endblock %}