{% extends "layout.html" %}
{% block title %}Главная{% endblock %}
{% block body %}
<h1>Бронирование билета</h1>

<div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Название фильм</th>
                        <th>Время</th>
                        <th>Дата</th>
                        <th>Зал</th>
                        <th>Цена стандартного билета</th>
                        <th>Цена vip билета</th>

                    </tr>
                </thead>
                <tbody>
                    <div>
                        {% for film in films %}
                        <tr>
                            <td><a href="/page?id={{film.film_id}}"><p align="left">{{ film.film.name}}</p></a></td>
                            <td><a href="/room?id={{film.film_id}}&time={{film.time}}&date={{film.date}}" ><p align="center">{{ film.time.strftime("%H:%M") }} </p></a></td>
                            <td><p align="center">{{ film.date.strftime('%Y-%m-%d') }} </p></td>
                            <td><p align="center">{{ film.hall }}</p></td>
                            <td><p align="center">{{ film.session_price}}</p></td>
                            <td><p align="center">{{ film.vip_price}}</p></td>

                        </tr>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
          <div id="featured">
              {% for item in items %}
                <a href="/page?id={{item.film_id}}">
                <img src={{item.pathPhoto}}  /></a>
              {% endfor %}
          </div>
    </div>

</div>
<script type="text/javascript">
			$(window).load(function() {
				$('#featured').orbit({
					'bullets': true,
					'timer' : true,
					'animation' : 'horizontal-slide'
				});
			});
</script>
{% endblock %}