<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Bootstrap javascript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.orbit.js"></script>
    <link href="../static/css/orbit.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img alt="Brand" src="https://img.artlebedev.ru/yaroslavl/logo/yaroslavl-logo.gif" width="30" height="30"> </a>
        </div>
        <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Сеанс
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if session['role'] != 3 %}
                   <li><a href={{url_for('session_cinema')}}>Добавление сеанса</a></li>
                    <li><a href={{url_for('add_film')}}>Добавление фильмов</a></li>
                    <li><a href={{url_for('upload_file')}}>Добавление картинки в слайдшоу</a></li>
                    {% endif %}
                   <li><a href={{url_for('session_list')}}>Список фильмов</a></li>
                </ul>
              </li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Бронирование
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                   <li><a href={{url_for('reservation_check')}}>Проверка брони</a></li>
                </ul>
              </li>
                {% if 'username' in session: %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ session['firstName'] }} {{ session['secondName'] }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('settings') }}">Настройки</a></li>
                          <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                          <li class="divider"></li>
                          <li><a href="/logout">Выход</a></li>
                        </ul>
                      </li>
                {%else%}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Войти
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                   <li><a href="/login">Вход</a></li>
                   <li><a href="/register">Регистрация</a></li>
                </ul>
              </li>
                {%endif%}
            </ul>
        </div>
         </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
	{% block styles %}{% endblock %}
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>