<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap javascript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Проверка брони</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form id="reservation_check" action="/reservation_check" method="post">
                    <h3>Проверка брони</h3>
                    <div class="form-group">
                        <label>Номер брони</label>
                        <input type="text" class="form-control" id="reservation" required name="reservationes" placeholder="Номер брони">
                    </div>
                    <button type="submit" class="btn btn-success">Check</button>
                </form>
                {% reserv %}
            </div>
        </div>
    </div>
</body>

</html>