{% extends "layout.html" %}
{% block title %}Проверка брони{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form id="reservation_check" action="/reservation_check" method="post">
                    <h1>Проверка брони</h1>
                    <div class="form-group">
                        <h3>Номер брони</h3>
                        <input type="text" class="form-control" name="res_id" placeholder="Номер брони">
                    </div>
                    <button type="submit" class="btn btn-success">Check</button>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Номер брони</th>
                            <th>Итоговая стоимость</th>
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            {% if items %}
                            <td>{{ items.id}}</td>
                            <td>{{ items.random }}</td>
                            <td>{{ items.priceTotal }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                     {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}