{% extends "layout.html" %}
{% block title %}Бронирование мест{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1> <em> Бронирование </em> </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                         Поздравляем, места на сеанс {{sessio.film.name}} забронированы!
За 15 минут до начала сеанса бронь снимается и выставляется на продажу <p>
                         <p><label>Сеанс начинается</label> {{ sessio.date.strftime('%Y-%m-%d') }} с {{ sessio.time.strftime("%H:%M") }} <p>
                        <label> Общая стоимость: </label> {{res.summa}} руб.<p>
                        <label> Места: </label>
                            <tr>
                            <td>{{res.seatsMesto}}</td>
                            </tr><p>
                        <label> Бронь записана под номером: </label> {{ randomNumber}}
            </div>
        </div>
    </div>
{% endblock %}